.header-conten{
    display: flex;
    justify-content: space-between;
   a{
        text-decoration: none ;
   } 
}

.canul{
        border-radius: 5px;
         list-style: none;
         padding: 0px;
         border: 1px solid ;
         li{
            border-bottom: 1px solid;
            text-align: center;
         }
         li:last-child{
            border: none;
         }
}
.search1{
    padding-top: 25px;
}
.themsp{
    display: flex;
    justify-content: space-between ;
}
.right-btn{
    display: flex;
    justify-content: flex-end;
}
.button-2{
    color: white;
    border-radius: 8px ;
    border: solid white;
    background-color: blue;
}
.button-3{
    color: black;
    border-radius: 8px ;
    border: solid white;
    background-color: orange;
}
.button-4{
    color: white;
    border-radius: 8px ;
    border: solid white;
    background-color: red;
}
.select1{
    padding-right: 10px;
}
.button-1{
    border: none;
    background-color: white;
}