.header{

    background-color: aqua;
    .abs{
    
        
        background-color: aqua;
        bottom: 0u;
        right: 0;
    }
    .can{
        max-width: 1200px;
        background-color: aqua;
    }


    }

.main{
    // margin-top: 70px;
}